






<!-- <html>
<h1>Add Doctor</h1>
<form action="{% url 'get_doctor' %}" method = "post">
{% csrf_token %}
<label for="id">ID</label>  
<input type="number" name="DR_id" placeholder="Doc_Id" value="{{doc.id}}" readonly><br>


<label for="Name">Name</label>
<input type="text" name="DR_Name" placeholder="Doc_Name" value="{{doc.Name}}"> <br>

<label for="No_of_Doctor">No_of_Doctor</label>
<input type="number" name="DR_No_of_Doctor" placeholder="Doc_Name" value="{{doc.No_of_Doctor}}"> <br>

<label for="speciality">Speciality</label>
<input type="text" name="DR_Name" placeholder="Doc_speciality" value="{{doc.speciality}}"> <br>

<label for="hospi_id">Hospitle Name</label>
<input type="number" name="DR_Hospi_id" placeholder="Hospital_ID" value="{{doc.hospi_id}}" > <br>



<button submit="Submit" >Submit</button> <br> <br>

<a href="{% url 'get_doctor' %}">Show Doctor</a>




</form> 

</html> -->