<html>

<h1>Department </h1>
        
        <table border="2px">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>No of staff</th>
                <th>hospital ID</th>
                <th>Edit</th>
            </tr>

            {% for i in D_data %}
            <tr>
                
                <td>{{ i.id }}</td>
                <td>{{ i.Name }}</td> 
                <td>{{ i.Total_Staff }}</td>
                <td>{{ i.hospi.Name }}</td>
                <td>
                  
                    <a href="{% url 'dept' i.id %}">Edit</a>
                </td> 
            </tr>
            {% endfor %}
        </table>

</html>

